# Data Cleaning

## Team : 14 (Vidisha, Yijin, Yvette)

In [69]:
import pandas as pd
data_20 = pd.read_csv('adult20csv/adult20.csv') # Reading Data for 2020
data_20

,URBRRL,RATCAT_A,INCGRP_A,INCTCFLG_A,FAMINCTC_A,IMPINCFLG_A,RJWKCLSOFT_A,RJWCLSNOSD_A,RJWRKCLSSD_A,RECJOBSD_A,...,PHSTAT_A,PROXYREL_A,PROXY_A,AVAIL_A,HHSTAT_A,INTV_MON,RECTYPE,WTFA_A,HHX,POVRATTC_A
0,3,14,5,0,100000,0,NaN,NaN,NaN,NaN,...,2,NaN,NaN,1,1,11,10,4526.109,H066706,6.47
1,3,11,4,0,75000,0,NaN,NaN,NaN,NaN,...,2,NaN,NaN,1,1,8,10,12809.039,H034928,3.64
2,3,14,4,0,90000,0,NaN,NaN,NaN,NaN,...,3,NaN,NaN,1,1,8,10,10322.534,H018289,6.76
3,3,11,3,0,65000,0,NaN,NaN,NaN,NaN,...,1,NaN,NaN,1,1,3,10,7743.375,H006876,3.79
4,3,8,1,0,25762,2,NaN,NaN,NaN,NaN,...,3,NaN,NaN,1,1,6,10,4144.724,H028842,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31563,4,13,4,0,79000,0,NaN,NaN,NaN,NaN,...,3,NaN,NaN,1,1,2,10,2857.585,H065697,4.61
31564,4,11,3,0,60000,0,NaN,NaN,NaN,NaN,...,3,NaN,NaN,1,1,2,10,2994.763,H061937,3.50
31565,4,8,1,0,27500,0,NaN,NaN,NaN,NaN,...,2,NaN,NaN,1,1,2,10,1328.907,H005331,2.24
31566,4,8,3,0,61880,0,NaN,NaN,NaN,NaN,...,2,NaN,NaN,1,1,2,10,3481.003,H047025,2.38
31567,4,9,2,0,49000,1,NaN,NaN,NaN,NaN,...,2,NaN,NaN,1,1,2,10,2555.839,H009389,2.86

### Step 1: Dealing with missing values

Since we are using survey data, there are bound to be several missing values in various attributes due to non-response. In order to deal with such missing observations, we consider only those columns in the data set with number of missing values less than 10% of the total observations. 

We consider 10% as a reasonable threshold for a data set with 31,586 observations. For columns with number of missing vales less than 10% of the total observations, we drop the missing values as these are a small proportion of the total observations.

In [70]:
prop_missing = data_20.isna().sum()/ len(data_20) # Proportion of missing values in every attribute
keep = list(prop_missing[prop_missing < 0.1].index) # Attributes with less than 10% missing observations
data_20 = data_20[keep]

### Remaining Missing Values

In [71]:
percent_missing = data_20.isnull().sum() * 100 / len(data_20) #quantifying proportion of missing observations
missing_values_df = pd.DataFrame({'column_name': data_20.columns,
                                 'percent_missing': percent_missing}) #displaying variable name and proportion of missing observations
print(missing_values_df)

data_20 = data_20.dropna() #Dropping missing values in remaining variables

print(data_20)

           column_name  percent_missing
URBRRL          URBRRL              0.0
RATCAT_A      RATCAT_A              0.0
INCGRP_A      INCGRP_A              0.0
INCTCFLG_A  INCTCFLG_A              0.0
FAMINCTC_A  FAMINCTC_A              0.0
...                ...              ...
INTV_MON      INTV_MON              0.0
RECTYPE        RECTYPE              0.0
WTFA_A          WTFA_A              0.0
HHX                HHX              0.0
POVRATTC_A  POVRATTC_A              0.0

[212 rows x 2 columns]
       URBRRL  RATCAT_A  INCGRP_A  INCTCFLG_A  FAMINCTC_A  IMPINCFLG_A  PPSU  \
0           3        14         5           0      100000            0     2
3           3        11         3           0       65000            0     2
5           3         9         2           0       36000            0     2
6           3         3         1           0       30105            2     2
7           2         2         1           0        9000            1     2
...       ...       ...       ...         ...         ...          ...   ...
31558       4        13         4           0       85000            0   100
31560       4         9         1           0       34000            0   100
31564       4        11         3           0       60000            0   100
31565       4         8         1           0       27500            0   100
31566       4         8         3           0       61880            0   100

       PSTRAT  HISPALLP_A  RACEALLP_A  ...  CHLEV_A  HYPEV_A  PHSTAT_A  \
0         103           2           1  ...        2        2         2
3         103           1           1  ...        2        2         1
5         103           2           1  ...        1        1         4
6         103           2           1  ...        2        2         2
7         115           3           2  ...        2        2         4
...       ...         ...         ...  ...      ...      ...       ...
31558     114           2           1  ...        2        1         3
31560     114           2           1  ...        1        2         1
31564     114           2           1  ...        1        2         3
31565     114           2           1  ...        2        1         2
31566     114           2           1  ...        2        1         2

       AVAIL_A  HHSTAT_A  INTV_MON  RECTYPE    WTFA_A      HHX  POVRATTC_A
0            1         1        11       10  4526.109  H066706        6.47
3            1         1         3       10  7743.375  H006876        3.79
5            1         1         6       10  3164.668  H004811        2.93
6            8         1         6       10  8423.396  H068043        0.98
7            1         1        12       10  3231.773  H028696        0.73
...        ...       ...       ...      ...       ...      ...         ...
31558        1         1         3       10  2892.905  H059118        4.96
31560        1         1         6       10  1715.667  H009778        2.55
31564        1         1         2       10  2994.763  H061937        3.50
31565        1         1         2       10  1328.907  H005331        2.24
31566        1         1         2       10  3481.003  H047025        2.38

[21890 rows x 212 columns]

### Step 2: Removing irrelevant columns

Our original dataset included over 600 variables. In this step, we manually selected variables using the dataset codebook (https://ftp.cdc.gov/pub/Health_Statistics/NCHS/Dataset_Documentation/NHIS/2020/adult-codebook.pdf) and created an excel sheet (relevant_variables.xlsx) with all the variables relevant for our study topic. We decided to take this approach given the large number of variables that were similar. For example, there were several variables related to food insecurity (e.g., Couldn't afford to eat balanced meals; food didn't last; worry food would run out;receive food stamps, past 12m). For each group of similar variables, we chose the one captured the most information.

We also chose to manually select our remaining variables since there were many features irrelevant to our research questions. We chose to manually eliminate these variables as well.

In [72]:
relevant_variables = pd.read_excel('relevant_variables.xlsx')
data_20 = data_20[list(relevant_variables["Variable Names"])]

data_20

,FDSCAT4_A,SOCSCLPAR_A,VIGFREQW_A,HIKIND01_A,PAYBLL12M_A,PAYWORRY_A,DEMENEV_A,DEPMED_A,DEPFREQ_A,ANGEV_A,...,MHTHRPY_A,SMKCIGST_A,SMKECIGST_A,DRKSTAT_A,MODTPR_A,MODFREQW_A,LEGMSTAT_A,CITZNSTP_A,INCGRP_A,FDSCAT3_A
0,1,1,94,2,2,3,2,2,5,2,...,2,4,3,7,0,94,3,1,5,1
3,1,1,5,2,2,2,2,2,5,2,...,2,4,3,6,2,5,4,1,3,1
5,2,1,94,1,2,2,2,1,1,2,...,2,4,3,5,2,7,5,1,2,1
6,2,1,94,1,2,2,2,2,3,2,...,2,4,3,2,2,1,3,1,1,1
7,1,1,94,2,1,3,2,2,5,2,...,2,4,3,2,0,94,5,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31558,1,1,0,1,2,2,2,2,4,2,...,2,3,1,3,3,1,3,1,4,1
31560,1,1,2,1,2,2,2,1,2,2,...,2,3,3,3,2,5,2,1,1,1
31564,1,1,94,1,2,3,2,2,4,2,...,2,4,3,5,2,3,3,1,3,1
31565,1,1,94,2,2,3,2,2,5,2,...,2,3,3,8,0,94,5,1,1,1
31566,1,1,94,1,2,2,2,2,4,2,...,2,4,3,6,0,94,3,1,3,1

###

In [73]:
data_19 = pd.read_csv('adult19csv/adult19.csv') # Reading Data for 2019
data_19

,URBRRL,RATCAT_A,INCGRP_A,INCTCFLG_A,FAMINCTC_A,IMPINCFLG_A,PPSU,PSTRAT,HISPALLP_A,RACEALLP_A,...,PROXYREL_A,PROXY_A,AVAIL_A,HHSTAT_A,INTV_QRT,RECTYPE,WTFA_A,WTIA_A,HHX,POVRATTC_A
0,4,9,3,0,60000,2,2,122,3,2,...,NaN,NaN,1,1,1,10,13177.008,7601.336,H048109,2.96
1,4,9,3,0,50000,0,2,122,2,1,...,NaN,NaN,1,1,1,10,6140.552,3344.434,H027044,2.97
2,4,12,3,0,65000,1,2,122,2,1,...,NaN,NaN,1,1,1,10,9191.061,6949.498,H058855,4.28
3,4,14,5,0,120000,0,2,122,1,8,...,NaN,NaN,1,1,1,10,7900.035,6446.327,H031993,7.13
4,1,4,1,0,30000,0,2,115,2,1,...,NaN,NaN,1,1,1,10,10875.772,8646.586,H007122,1.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31992,4,14,5,0,116204,0,100,114,2,1,...,NaN,NaN,1,1,4,10,2679.016,1965.416,H046022,7.65
31993,4,8,3,0,68000,0,100,114,2,1,...,NaN,NaN,1,1,4,10,6726.495,3920.208,H046232,2.02
31994,4,13,3,0,60000,0,100,114,2,1,...,NaN,NaN,1,1,4,10,1246.306,864.743,H043765,4.98
31995,4,14,5,0,101000,0,100,114,1,1,...,NaN,NaN,1,1,4,10,3427.198,2595.209,H017695,6.00
31996,4,13,4,0,79000,0,100,114,2,1,...,NaN,NaN,1,1,4,10,3453.332,1891.706,H026306,4.69

In [74]:
prop_missing = data_19.isna().sum()/ len(data_19) # Proportion of missing values in every attribute
keep = list(prop_missing[prop_missing < 0.1].index) # Attributes with less than 10% missing observations
data_19 = data_19[keep] 
data_19 = data_19.dropna() #Dropping missing values in remaining variables

data_19

,URBRRL,RATCAT_A,INCGRP_A,INCTCFLG_A,FAMINCTC_A,IMPINCFLG_A,PPSU,PSTRAT,HISPALLP_A,RACEALLP_A,...,HYPEV_A,PHSTAT_A,AVAIL_A,HHSTAT_A,INTV_QRT,RECTYPE,WTFA_A,WTIA_A,HHX,POVRATTC_A
0,4,9,3,0,60000,2,2,122,3,2,...,2,3,1,1,1,10,13177.008,7601.336,H048109,2.96
1,4,9,3,0,50000,0,2,122,2,1,...,2,1,1,1,1,10,6140.552,3344.434,H027044,2.97
2,4,12,3,0,65000,1,2,122,2,1,...,1,3,1,1,1,10,9191.061,6949.498,H058855,4.28
3,4,14,5,0,120000,0,2,122,1,8,...,1,2,1,1,1,10,7900.035,6446.327,H031993,7.13
4,1,4,1,0,30000,0,2,115,2,1,...,1,4,1,1,1,10,10875.772,8646.586,H007122,1.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31991,4,10,3,0,68000,0,100,114,2,1,...,2,2,1,1,4,10,3551.733,1501.538,H033834,3.36
31992,4,14,5,0,116204,0,100,114,2,1,...,1,3,1,1,4,10,2679.016,1965.416,H046022,7.65
31994,4,13,3,0,60000,0,100,114,2,1,...,1,2,1,1,4,10,1246.306,864.743,H043765,4.98
31995,4,14,5,0,101000,0,100,114,1,1,...,2,2,1,1,4,10,3427.198,2595.209,H017695,6.00
31996,4,13,4,0,79000,0,100,114,2,1,...,1,2,1,1,4,10,3453.332,1891.706,H026306,4.69

In [81]:
#data_19 = data_19[list(relevant_variables["Variable Names"])]

#data_19

### Step 3: Assessing Categorical Variables

Now that we have our final features, we assess how many categories each categorical variables has.

In [76]:
for col in list(data_20):
    print('variable:', col) 
    print(data_20[col].value_counts()) #printing number of observations for each category

variable: FDSCAT4_A
1    19892
2      913
3      621
4      418
8       46
Name: FDSCAT4_A, dtype: int64
variable: SOCSCLPAR_A
1    20493
2      982
3      286
4      121
9        7
7        1
Name: SOCSCLPAR_A, dtype: int64
variable: VIGFREQW_A
94    13591
1      1797
2      1527
3      1403
0      1244
7       650
4       616
5       543
6       153
96      128
99       79
95       44
14       38
21       31
28       17
97       14
98        4
10        4
20        2
12        2
22        1
8         1
9         1
Name: VIGFREQW_A, dtype: int64
variable: HIKIND01_A
1    14245
2     7628
7        9
9        8
Name: HIKIND01_A, dtype: int64
variable: PAYBLL12M_A
2    19996
1     1863
9       21
7        9
8        1
Name: PAYBLL12M_A, dtype: int64
variable: PAYWORRY_A
3    13174
2     6589
1     2089
9       31
7        7
Name: PAYWORRY_A, dtype: int64
variable: DEMENEV_A
2    21748
1      130
7       10
9        2
Name: DEMENEV_A, dtype: int64
variable: DEPMED_A
2    19469
1     2384
7       24
9       13
Name: DEPMED_A, dtype: int64
variable: DEPFREQ_A
5    12350
4     6116
3     1490
2     1170
1      683
9       42
7       39
Name: DEPFREQ_A, dtype: int64
variable: ANGEV_A
2    21508
1      341
9       32
7        9
Name: ANGEV_A, dtype: int64
variable: STRTPR_A
0    12963
2     7063
1      888
3      683
4      106
6       79
9       57
5       37
7       10
8        4
Name: STRTPR_A, dtype: int64
variable: BMICAT_A
3    7707
2    6871
4    6593
9     434
1     285
Name: BMICAT_A, dtype: int64
variable: MEDDL12M_A
2    20928
1      959
9        3
Name: MEDDL12M_A, dtype: int64
variable: RACEALLP_A
1    17203
2     2014
3     1244
8      846
6      262
5      170
4      137
7        7
9        7
Name: RACEALLP_A, dtype: int64
variable: ARTHEV_A
2    16360
1     5505
9       14
7       11
Name: ARTHEV_A, dtype: int64
variable: ANXMED_A
2    19068
1     2795
7       16
9       11
Name: ANXMED_A, dtype: int64
variable: MARSTAT_A
1    10903
7     4005
5     2972
4     2034
8     1185
2      453
6      267
9       69
3        2
Name: MARSTAT_A, dtype: int64
variable: PA18_05R_A
1    9169
3    5576
4    5402
2    1392
8     351
Name: PA18_05R_A, dtype: int64
variable: SOCWRKLIM_A
2    18511
1     3358
9       17
7        4
Name: SOCWRKLIM_A, dtype: int64
variable: EMERG12MTC_A
0    18245
1     2482
2      812
3      169
4      169
9       10
7        3
Name: EMERG12MTC_A, dtype: int64
variable: URBRRL
3    6923
1    6398
2    5364
4    3205
Name: URBRRL, dtype: int64
variable: NOTCOV_A
2    21726
1      164
Name: NOTCOV_A, dtype: int64
variable: PHSTAT_A
2    8226
3    6093
1    5210
4    1959
5     392
7       5
9       5
Name: PHSTAT_A, dtype: int64
variable: VIGNR_A
0       13591
1        2729
2        2015
3        1521
4         702
5         574
6         194
7         193
9996      128
9999       79
9995       44
10         23
9997       14
12         12
20         12
30         11
15          9
8           8
9998        4
40          4
21          3
75          2
9           2
50          2
14          2
28          1
19          1
109         1
140         1
16          1
22          1
48          1
11          1
150         1
18          1
200         1
100         1
Name: VIGNR_A, dtype: int64
variable: WEIGHTLBTC_A
996    1175
180     910
160     902
200     895
150     815
       ...
299       2
296       2
286       1
291       1
293       1
Name: WEIGHTLBTC_A, Length: 201, dtype: int64
variable: THERA12M_A
2    19395
1     2488
9        4
7        3
Name: THERA12M_A, dtype: int64
variable: ANXEV_A
2    18640
1     3224
7       17
9        9
Name: ANXEV_A, dtype: int64
variable: RX12M_A
1    16216
2     5657
9        9
7        8
Name: RX12M_A, dtype: int64
variable: COMDIFF_A
1    21134
2      669
3       75
4        9
9        2
7        1
Name: COMDIFF_A, dtype: int64
variable: RATCAT_A
14    8222
8     1683
11    1641
9     1607
10    1528
13    1480
12    1265
7      877
5      760
3      740
6      721
4      605
2      399
1      362
Name: RATCAT_A, dtype: int64
variable: CHLEV_A
2    14754
1     7087
9       39
7       10
Name: CHLEV_A, dtype: int64
variable: MODNR_A
0       5220
1       4505
3       3340
2       3116
5       1669
4       1650
7       1570
6        415
9995      95
9996      76
9999      62
10        28
12        19
20        17
15        14
9997      14
8         10
14         8
30         7
13         6
9998       4
18         3
365        3
90         3
24         3
40         2
120        2
16         2
160        2
52         2
23         2
150        2
11         2
72         2
140        1
100        1
180        1
125        1
128        1
300        1
22         1
60         1
80         1
250        1
182        1
48         1
25         1
35         1
9          1
Name: MODNR_A, dtype: int64
variable: DIBEV_A
2    19766
1     2106
7       11
9        7
Name: DIBEV_A, dtype: int64
variable: PREDIB_A
2    18605
1     3250
9       22
7       13
Name: PREDIB_A, dtype: int64
variable: DEPEV_A
2    18288
1     3567
7       21
9       14
Name: DEPEV_A, dtype: int64
variable: HYPEV_A
2    13893
1     7972
9       13
7       12
Name: HYPEV_A, dtype: int64
variable: MLTFAMFLG_A
2    21453
1      437
Name: MLTFAMFLG_A, dtype: int64
variable: PCNTKIDS_A
0    16214
1     2386
2     2147
3     1082
8       61
Name: PCNTKIDS_A, dtype: int64
variable: EQUIP_A
2    21887
7        2
9        1
Name: EQUIP_A, dtype: int64
variable: HOSPONGT_A
2    20208
1     1677
7        3
9        2
Name: HOSPONGT_A, dtype: int64
variable: HISPALLP_A
2    15941
1     2285
3     1951
4     1228
7      231
6      144
5      110
Name: HISPALLP_A, dtype: int64
variable: PSTRAT
151    873
107    688
113    662
129    661
119    621
140    588
143    571
110    550
109    545
101    543
148    543
106    535
147    528
108    520
117    510
105    474
131    472
124    448
137    447
133    445
126    431
118    422
144    420
122    416
111    407
100    406
102    404
125    385
138    379
115    373
132    372
121    362
136    350
127    347
104    346
103    345
134    338
135    337
114    334
120    333
141    316
146    315
139    314
150    304
142    299
149    297
130    278
145    266
128    225
123    216
116    179
112    150
Name: PSTRAT, dtype: int64
variable: VIGTPR_A
0    13591
2     6048
3     1148
1      541
4      293
6      128
9       79
5       44
7       14
8        4
Name: VIGTPR_A, dtype: int64
variable: STRFREQW_A
94    12963
3      2102
2      1834
1      1289
7      1141
4       790
5       681
0       605
6       172
96       79
99       57
14       56
95       37
21       35
28       15
97       10
20        5
98        4
9         3
12        3
10        2
22        2
23        1
8         1
25        1
13        1
15        1
Name: STRFREQW_A, dtype: int64
variable: POVRATTC_A
11.00    1685
4.85      240
3.88      238
6.47      220
3.23      210
         ...
9.91        1
10.25       1
6.10        1
7.22        1
8.83        1
Name: POVRATTC_A, Length: 977, dtype: int64
variable: MEDNG12M_A
2    21059
1      827
9        4
Name: MEDNG12M_A, dtype: int64
variable: CANEV_A
2    18949
1     2923
7       12
9        6
Name: CANEV_A, dtype: int64
variable: HEIGHTTC_A
66    1996
64    1880
67    1808
65    1622
70    1613
63    1608
68    1573
69    1519
62    1405
72    1211
96    1196
71    1180
61     762
73     686
60     591
74     517
75     284
59     205
76     184
99      21
97      20
98       9
Name: HEIGHTTC_A, dtype: int64
variable: COPDEV_A
2    20808
1     1059
9       12
7       11
Name: COPDEV_A, dtype: int64
variable: UPPSLFCR_A
1    21515
2      336
3       32
4        4
7        2
9        1
Name: UPPSLFCR_A, dtype: int64
variable: ANXFREQ_A
4    7337
5    6736
2    2966
1    2395
3    2374
9      58
7      24
Name: ANXFREQ_A, dtype: int64
variable: CHDEV_A
2    20693
1     1158
9       29
7       10
Name: CHDEV_A, dtype: int64
variable: MIEV_A
2    21180
1      687
7       12
9       11
Name: MIEV_A, dtype: int64
variable: DISAB3_A
2    20725
1     1164
9        1
Name: DISAB3_A, dtype: int64
variable: COGMEMDFF_A
1    18312
2     3237
3      329
9        5
7        4
4        3
Name: COGMEMDFF_A, dtype: int64
variable: RXDG12M_A
2    21010
1      876
9        3
7        1
Name: RXDG12M_A, dtype: int64
variable: INCTCFLG_A
0    21073
1      817
Name: INCTCFLG_A, dtype: int64
variable: STREV_A
2    21345
1      528
7       10
9        7
Name: STREV_A, dtype: int64
variable: EDUC_A
8     5532
4     4547
5     3471
9     2885
7     2007
1     1056
6      837
11     499
3      389
10     327
2      273
99      32
0       26
97       9
Name: EDUC_A, dtype: int64
variable: FAMINCTC_A
250000    1102
100000    1009
50000      782
60000      767
150000     750
          ...
74232        1
150828       1
148781       1
73046        1
12282        1
Name: FAMINCTC_A, Length: 2605, dtype: int64
variable: PA18_02R_A
3    11035
2     5702
1     4875
8      278
Name: PA18_02R_A, dtype: int64
variable: STEPS_A
1.0    18941
2.0     2429
3.0      454
4.0       43
9.0       21
7.0        2
Name: STEPS_A, dtype: int64
variable: WELLNESS_A
1.0    17862
2.0     3998
9.0       27
7.0        3
Name: WELLNESS_A, dtype: int64
variable: WLK100_A
1.0    19937
2.0     1583
3.0      353
9.0       15
7.0        2
Name: WLK100_A, dtype: int64
variable: WLK13M_A
1.0    18404
2.0     2204
3.0      737
4.0      456
9.0       87
7.0        2
Name: WLK13M_A, dtype: int64
variable: HISDETP_A
3    19607
1     1231
2     1027
8       20
9        5
Name: HISDETP_A, dtype: int64
variable: REGION
3    7098
4    5650
2    5057
1    4085
Name: REGION, dtype: int64
variable: INTV_QRT
4    6245
3    6074
1    5475
2    4096
Name: INTV_QRT, dtype: int64
variable: SEX_A
2    11587
1    10302
7        1
Name: SEX_A, dtype: int64
variable: AGEP_A
85    516
69    484
64    483
67    476
70    475
     ...
19    137
84    117
18    114
97     41
99      2
Name: AGEP_A, Length: 70, dtype: int64
variable: ASTATNEW
1    21820
5       70
Name: ASTATNEW, dtype: int64
variable: HOUTENURE_A
1    16000
2     5406
3      398
8       43
7       35
9        8
Name: HOUTENURE_A, dtype: int64
variable: FDSBALANCE_A
3    20629
2      850
1      356
8       34
7       14
9        7
Name: FDSBALANCE_A, dtype: int64
variable: FDSLAST_A
3    20576
2      950
1      310
8       33
7       12
9        9
Name: FDSLAST_A, dtype: int64
variable: FDSRUNOUT_A
3    20258
2     1153
1      426
8       33
7       11
9        9
Name: FDSRUNOUT_A, dtype: int64
variable: FSNAP12M_A
2    20105
1     1708
7       40
9       19
8       18
Name: FSNAP12M_A, dtype: int64
variable: INCOTHR_A
2.0    19758
1.0     1985
7.0       95
9.0       39
8.0       13
Name: INCOTHR_A, dtype: int64
variable: INCRETIRE_A
2.0    16437
1.0     5264
7.0      111
9.0       66
8.0       12
Name: INCRETIRE_A, dtype: int64
variable: INCWELF_A
2.0    21311
1.0      461
7.0       69
9.0       37
8.0       12
Name: INCWELF_A, dtype: int64
variable: INCSSISSDI_A
2.0    20103
1.0     1629
7.0       83
9.0       65
8.0       10
Name: INCSSISSDI_A, dtype: int64
variable: INCSSRR_A
2.0    13711
1.0     8022
7.0       86
9.0       61
8.0       10
Name: INCSSRR_A, dtype: int64
variable: INCINTER_A
2    13404
1     8066
7      235
9      177
8        8
Name: INCINTER_A, dtype: int64
variable: INCWRKO_A
1    16278
2     5572
9       30
7        9
8        1
Name: INCWRKO_A, dtype: int64
variable: SCHCURENR_A
2    20672
1     1199
8       18
9        1
Name: SCHCURENR_A, dtype: int64
variable: NATUSBORN_A
1    18766
2     3096
8       17
7       10
9        1
Name: NATUSBORN_A, dtype: int64
variable: AFVET_A
2    19542
1     2327
8       17
7        4
Name: AFVET_A, dtype: int64
variable: MARITAL_A
1    11358
3     9314
2     1185
7       28
9        3
8        2
Name: MARITAL_A, dtype: int64
variable: ORIENT_A
2    20802
1      431
3      268
5      147
7      131
4       95
8       16
Name: ORIENT_A, dtype: int64
variable: SLPMED_A
1    17513
2     2303
4     1546
3      494
8       13
7       11
9       10
Name: SLPMED_A, dtype: int64
variable: SLPSTY_A
1    9698
2    8086
3    2358
4    1705
9      21
8      13
7       9
Name: SLPSTY_A, dtype: int64
variable: SLPFLL_A
1    10158
2     8904
3     1789
4     1005
8       13
9       12
7        9
Name: SLPFLL_A, dtype: int64
variable: SLPREST_A
3    10023
2     7034
4     3011
1     1778
9       22
7       11
8       11
Name: SLPREST_A, dtype: int64
variable: SLPHOURS_A
7     7191
8     7044
6     4373
9     1174
5     1059
10     418
4      306
12     105
11      51
99      51
3       47
2       16
98      11
97      10
16       9
14       8
13       5
15       4
24       2
17       2
1        1
20       1
19       1
18       1
Name: SLPHOURS_A, dtype: int64
variable: NOWWGTPRG_A
2    20539
1     1330
8       11
7        5
9        5
Name: NOWWGTPRG_A, dtype: int64
variable: NOWEAT_A
2    12184
1     9667
9       23
8       11
7        5
Name: NOWEAT_A, dtype: int64
variable: NOWACTIVE_A
2    12253
1     9608
9       13
8       11
7        5
Name: NOWACTIVE_A, dtype: int64
variable: ADVWGTPRG_A
2    20583
1     1284
8       11
7        6
9        6
Name: ADVWGTPRG_A, dtype: int64
variable: ADVEAT_A
2    16727
1     5131
9       15
8       11
7        6
Name: ADVEAT_A, dtype: int64
variable: ADVACTIVE_A
2    16255
1     5606
9       13
8       11
7        5
Name: ADVACTIVE_A, dtype: int64
variable: PEOPLEWLK_A
1    15867
4     2491
2     2216
3     1188
9      111
7       10
8        7
Name: PEOPLEWLK_A, dtype: int64
variable: WEATHERWLK_A
3    11697
4     4685
1     3028
2     2435
9       32
8        7
7        6
Name: WEATHERWLK_A, dtype: int64
variable: CRIMEWLK_A
2    19940
1     1880
9       58
7        6
8        6
Name: CRIMEWLK_A, dtype: int64
variable: TRAFFICWLK_A
2    17202
1     4655
9       22
8        6
7        5
Name: TRAFFICWLK_A, dtype: int64
variable: SIDEWLK_A
1    13742
2     8119
9       19
8        6
7        4
Name: SIDEWLK_A, dtype: int64
variable: RELAXWLK_A
1    16994
2     4826
9       56
7        8
8        6
Name: RELAXWLK_A, dtype: int64
variable: FUNWLK_A
2    11529
1    10294
9       56
8        6
7        5
Name: FUNWLK_A, dtype: int64
variable: TRANSITWLK_A
1    11202
2    10198
9      477
7        7
8        6
Name: TRANSITWLK_A, dtype: int64
variable: SHOPSWLK_A
1    12516
2     9359
8        6
7        5
9        4
Name: SHOPSWLK_A, dtype: int64
variable: ROADSWLK_A
1    19519
2     2352
9        8
8        6
7        5
Name: ROADSWLK_A, dtype: int64
variable: WLKLEIS_A
1.0    14361
2.0     7521
8.0        5
9.0        2
7.0        1
Name: WLKLEIS_A, dtype: int64
variable: WLKTRAN_A
2.0    18587
1.0     3296
8.0        5
7.0        1
9.0        1
Name: WLKTRAN_A, dtype: int64
variable: DRKLIFE_A
1    19721
2     2153
7       10
8        3
9        3
Name: DRKLIFE_A, dtype: int64
variable: SMOKELSEV_A
2    19561
1     2323
7        4
9        2
Name: SMOKELSEV_A, dtype: int64
variable: ECIGEV_A
2    18967
1     2918
7        3
9        2
Name: ECIGEV_A, dtype: int64
variable: SMKEV_A
2    13725
1     8141
9       13
7       11
Name: SMKEV_A, dtype: int64
variable: FGEFRQTRD_A
2    12081
1     6545
3     2051
4     1191
7       12
9       10
Name: FGEFRQTRD_A, dtype: int64
variable: ANYINJURY_A
2    20021
1     1861
7        4
9        4
Name: ANYINJURY_A, dtype: int64
variable: PAIFRQ3M_A
2    9154
1    8157
4    2672
3    1885
9      14
7       8
Name: PAIFRQ3M_A, dtype: int64
variable: MHTHND_A
2    21152
1      722
7       11
9        5
Name: MHTHND_A, dtype: int64
variable: MHTHDLY_A
2    21129
1      749
7       11
9        1
Name: MHTHDLY_A, dtype: int64
variable: MHTHRPY_A
2    19568
1     2298
7       21
9        3
Name: MHTHRPY_A, dtype: int64
variable: SMKCIGST_A
4    13725
3     5907
1     1687
2      545
9       24
5        2
Name: SMKCIGST_A, dtype: int64
variable: SMKECIGST_A
3    18967
2     2341
1      577
9        5
Name: SMKECIGST_A, dtype: int64
variable: DRKSTAT_A
6     6973
7     4149
5     2884
2     2215
1     2153
3     1708
8     1469
9      236
10      97
4        6
Name: DRKSTAT_A, dtype: int64
variable: MODTPR_A
2    12268
0     5220
1     3148
3      882
4      121
5       95
6       76
9       62
7       14
8        4
Name: MODTPR_A, dtype: int64
variable: MODFREQW_A
94    5220
7     4285
3     3152
2     2571
1     1695
5     1635
4     1536
0      679
6      400
14     290
21      97
95      95
96      76
99      62
28      47
97      14
10       7
13       6
12       5
8        4
98       4
23       2
20       2
16       1
22       1
9        1
11       1
18       1
24       1
Name: MODFREQW_A, dtype: int64
variable: LEGMSTAT_A
3    11384
4     4695
2     3358
5     2088
1      289
9       76
Name: LEGMSTAT_A, dtype: int64
variable: CITZNSTP_A
1    20863
2      970
7       32
8       18
9        7
Name: CITZNSTP_A, dtype: int64
variable: INCGRP_A
5    7435
1    4592
3    4110
4    3055
2    2698
Name: INCGRP_A, dtype: int64
variable: FDSCAT3_A
1    20805
2      621
3      418
8       46
Name: FDSCAT3_A, dtype: int64

### Step 4: Transforming Categorical Variables

In our dataset, categorical variables are encoding using integers. Below, we convert the categorical features that are int64 to the categorical datatype. This allows us to transform the categorical variables into dummy variables.

In [82]:
print(data_20.dtypes) #check which variables are categorical

for col in list(data_20): #converting int64 to categorical
    if str(data_20[col].dtypes) == 'int64':
        data_20[col] = pd.Categorical(data_20[col])
    
data_20 = pd.get_dummies(data_20, drop_first = True) #convert categorical into dummy variables

print(data_20)

data_20.to_csv("data_2020_cleaned.csv")

POVRATTC_A     float64
STEPS_A        float64
WELLNESS_A     float64
WLK100_A       float64
WLK13M_A       float64
                ...
INCGRP_A_4       uint8
INCGRP_A_5       uint8
FDSCAT3_A_2      uint8
FDSCAT3_A_3      uint8
FDSCAT3_A_8      uint8
Length: 3592, dtype: object
       POVRATTC_A  STEPS_A  WELLNESS_A  WLK100_A  WLK13M_A  INCOTHR_A  \
0            6.47      1.0         1.0       1.0       1.0        2.0
3            3.79      1.0         1.0       1.0       1.0        2.0
5            2.93      1.0         1.0       1.0       1.0        2.0
6            0.98      1.0         2.0       1.0       1.0        2.0
7            0.73      3.0         1.0       3.0       3.0        2.0
...           ...      ...         ...       ...       ...        ...
31558        4.96      1.0         1.0       1.0       1.0        2.0
31560        2.55      1.0         1.0       1.0       1.0        2.0
31564        3.50      2.0         1.0       1.0       1.0        2.0
31565        2.24      1.0         2.0       1.0       1.0        2.0
31566        2.38      1.0         1.0       1.0       1.0        2.0

       INCRETIRE_A  INCWELF_A  INCSSISSDI_A  INCSSRR_A  ...  CITZNSTP_A_7  \
0              1.0        2.0           2.0        1.0  ...             0
3              2.0        2.0           2.0        2.0  ...             0
5              1.0        2.0           2.0        1.0  ...             0
6              1.0        2.0           2.0        2.0  ...             0
7              2.0        2.0           2.0        1.0  ...             0
...            ...        ...           ...        ...  ...           ...
31558          1.0        2.0           2.0        2.0  ...             0
31560          2.0        2.0           2.0        2.0  ...             0
31564          2.0        2.0           2.0        2.0  ...             0
31565          1.0        2.0           2.0        1.0  ...             0
31566          2.0        2.0           2.0        2.0  ...             0

       CITZNSTP_A_8  CITZNSTP_A_9  INCGRP_A_2  INCGRP_A_3  INCGRP_A_4  \
0                 0             0           0           0           0
3                 0             0           0           1           0
5                 0             0           1           0           0
6                 0             0           0           0           0
7                 0             0           0           0           0
...             ...           ...         ...         ...         ...
31558             0             0           0           0           1
31560             0             0           0           0           0
31564             0             0           0           1           0
31565             0             0           0           0           0
31566             0             0           0           1           0

       INCGRP_A_5  FDSCAT3_A_2  FDSCAT3_A_3  FDSCAT3_A_8
0               1            0            0            0
3               0            0            0            0
5               0            0            0            0
6               0            0            0            0
7               0            0            0            0
...           ...          ...          ...          ...
31558           0            0            0            0
31560           0            0            0            0
31564           0            0            0            0
31565           0            0            0            0
31566           0            0            0            0

[21890 rows x 3592 columns]

### Step 5: Visualization

### Step 6: Preliminary Test